
input,
select,
textarea {
  color: $color-primary;
}

//safari fix
input[type="search"] {
  -webkit-appearance: textfield;
}

input:disabled{

}

input:invalid {

}


.form {

  &__group {
    margin-bottom: 2rem;
  }

  &__input,
  &__textarea,
  &__select {
    padding: 15px;
    background: #FAFAFA;
    border: 1px solid $input-bordrer-color; //color('foreground');
    border-radius: 1px;
    font-size: 1.2rem;
    width: 100%;

    &--success,
    &--error {

    }

    &:focus {
      outline-color: rgb(59, 153, 252);
      outline-offset: -2px;
      outline-style: auto;
      outline-width: 5px;
    }

    &--success {
      color: $color-success;
      border-color: $color-success;
      background-color: rgba( $color-success, 0.2 );
    }

    &--error {
      color: $color-error;
      border-color: $color-error;
      background-color: rgba($color-error, 0.2 );
    }


  }

  &__label {
    display: block;
    font-size: 1.1rem;
    line-height: 1.3;
    cursor: pointer;

    &--req {
      &:before {
        content: "*";
        margin-right: 5px;
        color: $color-error;
      }
    }
  }

  &__textarea {
    height: 150px;
    width: 100%;
  }

  //INPUT AND RADIO BUTTON
  &__radio,
  &__check {
    display: block;
    line-height: 1.8;
    width: 100%;
    clear: both;
    margin-bottom: .5rem;
    cursor: pointer;


    &:nth-of-type(1) {
      margin-top: .5rem;
    }

    input {
      display: none;
    }
  }

  &__radio-icon,
  &__check-icon {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background: #fff;
    border: 2px solid $input-bordrer-color;
    position: relative;
    float: left;
    margin-right: 0.5rem;
    transition: all $transition-time;
    &:before,
    &:after {
      transition: all $transition-time;
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      opacity: 0.2;
    }
  }

  &__radio-icon {
    border-radius: 50%;
    &:before {
      height: 50%;
      width: 80%;
      height: 80%;
      border-radius: 50%;
      background: $input-bordrer-color;
      transform: translate(-50%, -50%);
    }
  }

  &__check-icon {
    border-radius: 2px;
    &:before {
      height: 50%;
      width: 12px;
      height: 6px;
      border: solid 2px $color-primary;
      background: none;
      border-top: none;
      border-right: none;
      transform: translate(-45%, -70%) rotate(-45deg);
    }
  }

  input:checked + .form__radio-icon {
    border-color: $color-primary;
    &:before {
      background: $color-primary;
      opacity: 1;
    }
  }
  input:checked + .form__check-icon {
    border-color: $color-primary;
    background-color: $color-primary;
    &:before {
      opacity: 1;
      //background-color: $color-primary;
      border-color: #fff;// $color-primary;
    }
  }

  input:disabled + .form__radio-icon,
  input:disabled + .form__check-icon {
    opacity: 0.4;
    cursor: no-drop !important;
  }


  //SELECT
  &__select {
    background: transparent url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat;
    background-position: right 10px center;
    appearance:none;
  }
}
