@import 'reset.scss';

$transition-time: 0.3s;

$color-primary: blue;
$color-success: green;
$color-error: red;
$color-bg: #000;

$input-bordrer-color: #BDBDBD;


html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
  color: inherit;
}

strong {
  font-weight: bold;
}

body {
  background: $color-bg;
}

.page {
  padding: 100px 50px 50px 50px;
}

.page-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}


@import 'form.scss';
