.details {
  text-align: center;
  padding: 0 40px 40px 40px;
  background: #000;
  color: #fff;
  float: left;
  width: 100%;
  position: relative;


  &__box {
    border: 1px solid #fff;
    min-height: 80px;
    margin-top: 80px;
    position: relative;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;

    &:before {
      content: "";
      height: 80px;
      width: 2px;
      background: #fff;
      position: absolute;
      left: calc( 50% - 1px );
      top: -81px;
    }
  }

  &__title {
    font-size: 3rem;
    padding-bottom: 20px;
  }
}
